@charset "utf-8";
 body{
    font-size:16px;
    max-width:100%;
    font-family:"Poppins", sans-serif
}

.main{
    max-width:100%;
    font-family:"Poppins", sans-serif
}

p strong{
    font-weight:bolder
}

p em{
    font-style:normal
}

p{
    margin-bottom:8px;
    text-align:justify
}

hr{
    border-top:1px solid #242424
}

h1{
    font-family:"Poppins bold",sans-serif;
    font-size:2.2em;
    margin:.67em 0;
    color: #000'
}

.md-typeset h1{
    font-family:"Poppins bold",sans-serif;
    font-weight: 700;
    font-size:2.5em;
    margin:.67em 0;
    color: #000;
}


h2{
    padding:4px;
    font-size:1.5em;
    margin:.83em 0
}

.md-typeset h2{
    padding:4px;
    font-size:1.5em;
    font-weight: 700;
    margin:.83em 0;
    padding-top: 20px;
}

h3{
    padding:4px
}

.md-typeset h3{
    padding:4px;
    font-weight: 700;
    padding-top: 20px;
}

h4{
    color:#F4F4F4
}

.md-typeset h4{
    color:#F4F4F4;
    font-weight: 700;
}

dl[class='py function'] {
    padding-top: 20px;
    padding-bottom: 60px;
}

.md-typeset table:not([class]) {
    font-size: 0.72rem;
}


input{
    box-shadow:inset 0 0 0 #242424 !important
}

@keyframes heart{
    0%,40%,80%,100%{
        transform:scale(1)
    }
    20%,60%{
        transform:scale(1.15)
    }
}

.heart{
    animation:heart 1000ms infinite
}

.component{
    background:#242424 !important;
    padding:10px !important
}

.indent{
    padding-left:20px
}

.definition{
    background:#242424 !important;
    padding:10px !important;
    margin-bottom:20px !important
}

.definition-header{
    background:#242424 !important;
    margin:-10px -10px 7px -10px !important;
    padding:8px 5px 8px 10px !important;
    font-size:14px !important
}

.param-name{
    color:#242424 !important
}

.param-value{
    color:#EBB483 !important
}

.return-value{
    color:#EBB483 !important
}

.getter{
    color:#808080 !important
}

.setter{
    color:#808080 !important
}

.paren{
    margin-left:-7px !important
}

thead{
    background:#343434 !important;
    color:#B6ECF3 !important;
    border:0 !important
}
td{
    font:12px;
    border:0 !important
}

table.docutils{
    display:table !important;
    table-layout:fixed
}

table.docutils img{
    width:100px
}

.custome-btn-container{
    display:flex
}

.custome-btn-container .custom-btn{
    margin-right:8px;
    border:solid 1px rgb(var(--neutral300-rgb,224,224,224));
    border-radius:8px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.06);
    padding:12px
}

.example summary{
    width:77px;
    cursor:pointer
}

.content-block{
    position:relative
}

.content-block code{
    padding:12px 35px 12px 12px !important
}

.content-block .copy-button{
    position:absolute;
    top:12px;
    right:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer
}

.content-block .copy-text{
    display:none;
    z-index:1
}

.content-block .copy-button svg{
    width:180px;
    height:180px
}

.doc-heading code{
    background:transparent !important;
    color:#fff !important
}

.field-list.docutils .field .field-name{
    max-width:150px;
    width:150px
}

.example{
    margin-bottom:80px
}

.wy-side-nav-search>a .img{
    height:50%
}

.md-logo{
    background-image:url(mycelium-icon.svg);
    background-size:cover;
    background-repeat:no-repeat;
    width:150% !important;
}

/* img[alt='../_images/ml-ops.png']{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
} */

img[alt='../_images/mycelium.png']{
    width: 90% !important;
}


.md-tabs {
    visibility: hidden;
}


.sig.sig-object.py {
    display: block;
    background: #f0f0f0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    max-width: 100%;
    font-size: 16px;
}

/* .sig.sig-object.py .py {
    display: block;
    margin: 0;
    padding: 0 70px;
}  */

.sig.sig-object.py .sig-param {
    color: #AA22FF;
    font-weight: 400;
}

.py .class {
    padding-top: 70px;
}

.py .method {
    padding-bottom: 35px;
}

.sig.sig-object.py .sig-name {
    color: #00A000;
    font-weight: 400;
}

div.section dl.field-list dt:first-child {
    display: none;
}
